.pmpro_bbp_membership_msg {
  margin: 32px 0;
  padding: 32px 28px;
  border-radius: 12px;
  background-color: var(--color-secondary);
  color: $white;
  font-size: $fs-16;
  font-weight: $weight-bold;
  line-height: 1em;
  text-align: center;
  box-shadow: var(--color-box-shadow);
}