.vk-content {
  /*------------
      ICONS
  ------------*/
  .icon-logo-vikinger {
    fill: #fff;
    width: 38px;
    height: 54px;
  }

  .icon-error,
  .icon-success,
  .icon-info {
    fill: #fff;
    width: 20px;
    height: 20px;
  }

  .icon-cross,
  .icon-check-small {
    fill: #fff;
    width: 10px;
    height: 10px;
  }
}