.vk-content {
  /*-----------------
      MESSAGE LINE
  -----------------*/
  .message-line {
    border-radius: 12px;
    padding: 32px 26px;
    background-color: #3e3f5e;

    &.message-line-success {
      background-color: var(--vk-color-secondary);
    }

    .message-line-title,
    .message-line-text {
      color: #fff;
      text-align: center;
    }

    .message-line-title {
      font-size: 18px;
    }

    .message-line-text {
      margin-top: 12px;
      font-size: 28px;
      font-weight: var(--vk-weight-bold);

    }
  }
}